Repository Kamkmgamer/kamkmPDF: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --cache --cache-location ./.cache/eslint",
    "prettier --write"
  ],
  "*.{json,yml,yaml,md,mdx,css,scss,html}": ["prettier --write"]
}

feat(jobs): add PDF worker & update API/schema
  drizzle/0000_high_annihilus.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/app/api/trpc/[trpc]/route.ts
  src/server/api/root.ts
  src/server/api/routers/files.ts
  src/server/api/routers/jobs.ts
  src/server/api/trpc.ts
  src/server/db/schema.ts
  src/server/jobs/pdf.test.ts
  src/server/jobs/pdf.ts
  src/server/jobs/worker.ts
  vitest.config.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update components, API routes, and configuration files
  .gitignore
  src/_components/Header.tsx
  src/_components/ThemeToggle.tsx
  src/app/_components/CTASection.tsx
  src/app/_components/Features.tsx
  src/app/_components/Footer.tsx
  src/app/_components/Hero.tsx
  src/app/_components/Pricing.tsx
  src/app/_components/SocialProof.tsx
  src/app/api/files/[fileId]/download/route.ts
  src/app/layout.tsx
  src/app/pdf/[id]/_components/LoadingStates.tsx
  src/app/pdf/[id]/_components/PDFViewer.tsx
  src/app/pdf/[id]/_components/PDFViewerPage.tsx
  src/providers/ThemeProvider.tsx
  src/server/ai/openrouter.ts
  src/server/api/routers/files.ts
  src/server/api/routers/jobs.ts
  src/server/utils/signed-urls.ts
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update project files and add uploadthing integration
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
  src/app/api/files/[fileId]/download/route.ts
  src/env.js
  src/server/api/routers/files.ts
  src/server/db/schema.ts
  src/server/jobs/htmlToPdf.ts
  src/server/jobs/pdf.ts
  src/server/jobs/worker.ts
  src/server/uploadthing.ts
  src/types/pdf.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update project files and add worker API endpoint
  .env.example
  README.md
  src/app/api/worker/drain/route.ts
  src/env.js
  src/server/api/routers/jobs.ts
  src/server/db/index.ts
  src/server/jobs/worker.ts
  vercel.json
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update package.json
  package.json
Due: prettier --write

Update dashboard and files router, add JobsGallery component
  src/_components/JobsGallery.tsx
  src/app/dashboard/page.tsx
  src/server/api/routers/files.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update Header component
  src/_components/Header.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update JobsGallery component
  src/_components/JobsGallery.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update dashboard new page component
  src/app/dashboard/new/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update CI workflow and README
  .github/workflows/ci.yml
  README.md
Due: prettier --write

feat: add support for multiple serverless platforms in PDF generation
  src/server/jobs/htmlToPdf.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update next.config.js and pdf processing
  next.config.js
  src/server/jobs/pdf.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

chore: added favicon
  public/favicon.ico
Due: none

fix: Configure Clerk sign-up redirect to dashboard
  src/app/sign-up/[[...sign-up]]/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update Footer component
  src/app/_components/Footer.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Add not-found page component
  package.json
  pnpm-lock.yaml
  src/app/not-found.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update components and styles
  src/_components/JobsGallery.tsx
  src/_components/ThemeToggle.tsx
  src/app/_components/CTASection.tsx
  src/app/_components/Hero.tsx
  src/app/_components/Pricing.tsx
  src/app/dashboard/new/page.tsx
  src/app/dashboard/page.tsx
  src/styles/globals.css
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

ui: refactor social proof component and improve landing page consistency
  public/noise.svg
  src/_components/Header.tsx
  src/app/_components/CTASection.tsx
  src/app/_components/Features.tsx
  src/app/_components/Footer.tsx
  src/app/_components/Hero.tsx
  src/app/_components/Pricing.tsx
  src/app/_components/SocialProof.tsx
  src/app/pdf/[id]/_components/ThumbnailsSidebar.tsx
  src/styles/globals.css
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

feat: fix Clerk auth redirects to dashboard
  src/_components/Header.tsx
  src/app/layout.tsx
  src/app/sign-in/[[...sign-in]]/page.tsx
  src/app/sign-up/[[...sign-up]]/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

feat: Redesign landing page
  src/app/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update README: Add repo URL, open source license, and detailed database setup instructions
  README.md
Due: prettier --write

feat: Add custom filename prompt for PDF downloads
  src/_components/JobsGallery.tsx
  src/_components/ToastPrompt.tsx
  src/app/api/files/[fileId]/download/route.ts
  src/app/pdf/[id]/_components/PDFViewerPage.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

fix: ensure PDF viewer uses correct job context
  src/_components/JobsGallery.tsx
  src/app/pdf/[id]/_components/ThumbnailsSidebar.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

fix: direct brand link to home instead of dashboard
  src/_components/Header.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

docs: refresh README with current stack and worker workflows
  README.md
Due: prettier --write

chore: remove unused TODO.md
  TODO.md
Due: prettier --write

feat(worker): return inline PDF immediately and finalize upload asynchronously
  src/app/api/files/[fileId]/download/route.ts
  src/server/api/routers/files.ts
  src/server/jobs/worker.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

feat: add inline PDF loading
  src/app/pdf/[id]/_components/PDFViewer.tsx
  src/app/pdf/[id]/_components/PDFViewerPage.tsx
  src/app/pdf/[id]/_components/ThumbnailsSidebar.tsx
  src/server/jobs/worker.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update dependencies in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add create-with-image API route and related updates
  src/app/api/jobs/create-with-image/route.ts
  src/app/dashboard/new/page.tsx
  src/server/jobs/pdf.ts
  src/server/jobs/temp.ts
  src/server/jobs/worker.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update job gallery, toast prompt, image creation API, and thumbnails sidebar
  src/_components/JobsGallery.tsx
  src/_components/ToastPrompt.tsx
  src/app/api/jobs/create-with-image/route.ts
  src/app/pdf/[id]/_components/ThumbnailsSidebar.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Fix file ordering in files router to sort by newest first
  src/server/api/routers/files.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Add PDF thumbnail component and update dashboard components
  src/_components/DashboardLayout.tsx
  src/_components/JobsGallery.tsx
  src/_components/PdfThumbnail.tsx
  src/app/dashboard/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update dashboard new page
  src/app/dashboard/new/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

Update dashboard layout and new page components
  src/_components/DashboardLayout.tsx
  src/app/dashboard/new/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

feat: Redesign dashboard and add templates page
  next.config.js
  package.json
  pnpm-lock.yaml
  src/_components/Header.tsx
  src/_components/JobsGallery.tsx
  src/app/dashboard/new/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/templates/[id]/page.tsx
  src/app/dashboard/templates/page.tsx
  src/app/dashboard/templates/templates.ts
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write

feat: Redesign dashboard and add templates page
  src/app/dashboard/new/page.tsx
  src/app/dashboard/templates/[id]/page.tsx
Due: eslint --fix --cache --cache-location ./.cache/eslint, prettier --write
